.App {
  background: var(--color-primary-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.app__container {
  background: var(--color-bg);
  /* border-radius: 3rem; */
}
