:root {
  --color-bg: #050F2C;
  --color-bg-variant: #181F41;
  --color-primary: #EB5674;
  --color-primary-variant: #FDC0D0(77, 181, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;
}