.setup {
    width: 95%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.setup__title {
    width: 300px;
    text-align: center;
    color: white;
    margin: 10px auto;
    font-size: 1.8rem;
}

.setup__labels {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary);
}

.setup__input {
    height: 30px;
    width: 250px;
    font-size: 15px;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}