.image-profile__container {
    border-radius: 3rem;
    position: relative;
    margin-top: 15px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.profile__card {
    position: relative;
}

.profile__picture {
    height: 100%;
    border-radius: 3rem;
}

.back__btn {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-bg);
}

.back {
    margin: 2px 4px 0 2px;
}

.main__info {
    height: 50px;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    margin-top: 20px;
}

span {
    font-weight: normal;
    font-size: medium;
}

.location {
    color: var(--color-light);
    margin-top: 10px;
}

.location__text {
    color: var(--color-light);
}

.likes__container {
    background-color: var(--color-bg-variant);
    color: var(--color-primary);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    margin-left: auto;
}

.likes__container p {
    color: white;
}

.icon__smaller {
    font-size: .9rem;
    color: var(--color-primary);
}

.likes {
    margin-left: 3px;
}

.bio {
    color: var(--color-light);
    margin-top: 50px;
    line-height: 1.2rem;
}

.interests {
    height: 150px;
    padding: 10px;
    color: white;
    background-color: var(--color-primary);
    border-radius: 1rem;
    margin-top: 25px;
}

.buttons__container {
    position: absolute;
    bottom: 3%;
    width: 100%;
}

  
  /* Media Queries For Small Devices */
  @media screen and (max-width: 600px) {
    .image-profile__container {
        height: 300px;
    }

    .buttons__container {
        position: absolute;
        bottom: 2%;
        width: 100%;
    }
  }