.left__arrow {
    position: absolute;
    bottom: 50%;
    left: 5px;
    font-size: 1.5rem;
    color: var(--color-primary-transparent);
    background-color: transparent;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
}

.right__arrow {
    position: absolute;
    bottom: 50%;
    right: 5px;
    font-size: 1.5rem;
    color: var(--color-primary-transparent);
    background-color: transparent;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
}