.navbar-container {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--color-bg);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-title {
    font-size: 1.3rem;
    margin-right: 150px;
}

.icons-container {
    display: flex;
    align-items: center;
}

.notification-icon {
    height: 30px;
    width: 30px;
    color: var(--color-primary);
    border-radius: 50%;
    margin-right: 20px;
}

.settings-icon-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--color-primary);
}