.navbar__container {
    height: 80px;
    width: 500px;
    padding: 10px;
    background-color: var(--color-bg);
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem 3rem 0 0;
}

.options__btn {
    margin-left: 20px;
}

.title {
    font-size: 1.4rem;
    color: white;
    width: 150px;
    text-align: center;
}

.icons__container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.notification-icon {
    height: 30px;
    width: 30px;
    color: var(--color-primary);
    border-radius: 50%;
    margin-right: 20px;
}

.settings-icon-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--color-primary);
}